In [39]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option("display.float_format", lambda x: "%.3f" % x)
pd.set_option("max_columns", None)
df = pd.read_csv('C:/Code workspace/파이썬_퀀트/my_data/naver_finance/2015_12.csv')

In [33]:
# string으로 인덱싱을 하면 -> Series로 반환한다
series = df['EPS(원)']

In [36]:
# list로 인덱싱을 하면 -> DataFrame로 반환한다 
df2 = df[['EPS(원)', 'ticker']]

In [40]:
type(df['순이익률(%)'])                    # column명을 string으로 전달하면 -> Series 반환
type(df[['순이익률(%)', '당기순이익(억원)'] ]) # column명을 리스트로 전달하면 -> DAtaFrmae 반환

pandas.core.series.Series

pandas.core.frame.DataFrame

In [41]:
df[['ROE(%)', 'ROA(%)', 'ROIC(%)']].head()

   ROE(%)  ROA(%)  ROIC(%)
0  -7.677  -1.421   15.120
1  22.771  10.327  271.957
2   9.116   0.609      NaN
3   3.546   2.024   13.235
4   5.874   2.365    5.821

In [42]:
df.filter(like="RO").head() #RO 가 있는 column 출력

   ROE(%)  ROA(%)  ROIC(%)
0  -7.677  -1.421   15.120
1  22.771  10.327  271.957
2   9.116   0.609      NaN
3   3.546   2.024   13.235
4   5.874   2.365    5.821

In [43]:
df.filter(regex="P\w+R").head() #정규표현식 P로 시작하고 R 로 끝나는

   PER(배)  PBR(배)  PSR(배)
0 -19.472   1.453   0.298
1  28.779   5.665   1.007
2   4.544   0.389   0.426
3  29.279   1.014   2.118
4  40.944   2.146   0.398